apiVersion: v1
kind: Service
metadata: 
  name: zuul-loadbalancer-service
spec: 
  type: LoadBalancer
  selector: 
    component: zuul-server # This key-value is from Deployment.yml of zuul 
  ports: 
    - name: port-zuul-loadbalancer
      protocol: TCP
      port: 8888
      targetPort: 8001
    