<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<!-- Prod profile -->
	<springProfile name="prod,dev,qa,stg">
		<property resource="application.properties" />
		<property name="APP_NAME" value="${log.name}" />
		<property name="LOGS_HOME" value="../logs/app-logs" />
		<!-- <appender name="FILE-AUDIT" class="ch.qos.logback.core.FileAppender">
			<file>${LOGS_HOME}/${APP_NAME}.log</file>

			<encoder>
				<Pattern>
					%X{mdcData}%5p,%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
				</Pattern>
			</encoder>
		</appender> -->

		<appender name="ROLLIN"
	        class="ch.qos.logback.core.rolling.RollingFileAppender">
	        <file>${LOGS_HOME}/${APP_NAME}.log</file>
	        <encoder>
				<Pattern>
					%X{mdcData}%5p,%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
				</Pattern>
			</encoder>
	
	        <rollingPolicy
	            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	            <fileNamePattern>${LOGS_HOME}/archived/${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	            
	            <timeBasedFileNamingAndTriggeringPolicy
	                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
	                <maxFileSize>500MB</maxFileSize>
	            </timeBasedFileNamingAndTriggeringPolicy>
	            
	        </rollingPolicy>
	    </appender>

		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>
					%X{mdcData}%5p,%d{yyyy-MM-dd HH:mm:ss} %magenta([%thread]) %-5level %logger{36} - %msg%n
				</Pattern>
			</layout>
		</appender>



		<!-- Send logs to file audit -->
		<logger name="com.broadcom.support" level="debug" additivity="false">
			<appender-ref ref="ROLLIN" />
		</logger>

		<logger name="org.springframework" level="info" additivity="false">
			<appender-ref ref="ROLLIN" />
			<appender-ref ref="STDOUT" />
		</logger>

		<logger name="org.springframework.jdbc.core.JdbcTemplate"
			level="debug" additivity="false">
			<appender-ref ref="ROLLIN" />
		</logger>

		<logger name="org.hibernate.SQL" level="debug" additivity="true">
			<appender-ref ref="ROLLIN" />
		</logger>

		<logger name="org.hibernate.type.descriptor.sql" level="debug">
    	<appender-ref ref="ROLLIN" />
		</logger>

		<logger name="org.hibernate" level="error" additivity="true">
			<appender-ref ref="ROLLIN" />
			<appender-ref ref="STDOUT" />
		</logger>
		
		<logger name="org.apache.tomcat" level="info" additivity="false">
			<appender-ref ref="ROLLIN" />
			<appender-ref ref="STDOUT" />
		</logger>
		
		<logger name="org.apache.catalina" level="info" additivity="false">
			<appender-ref ref="ROLLIN" />
			<appender-ref ref="STDOUT" />
		</logger>

		<root level="info">
			<appender-ref ref="ROLLIN" />
			<appender-ref ref="STDOUT" />
		</root>

		<root level="error">
			<appender-ref ref="ROLLIN" />
			<appender-ref ref="STDOUT" />
		</root>

	</springProfile>

</configuration>